@inject ProductService productService

@{

    ViewData["Title"] = "Products";
}

@foreach (var product in await productService.GetAsync())
{
    <div>
        <a asp-action="ProductDetails" asp-route-id="@product.Id">
            @product.Name
            @product.Description
            @product.Price
            @product.Rating
            @foreach (var category in product.Categories)
            {
                @category.Category.Name
            }
        </a>
    </div>
}


